.squares
{
   border: 1px solid black;
}

#grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: 800px;
    height: 800px;

}

body {
    display: flex;
    justify-content: space-evenly;
}

#erase, #sizebtn {
    width: 100px;
    height: 100px;
}