.squares
{
   border: 1px solid black;
}

#grid {
    display: grid;
    width: 800px;
    height: 800px;
    margin-top: 40px;
    background-color: white;
}

body {
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: rgb(132, 211, 238);
}

button {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: large;
    background-color: lightcyan;
}

#butdiv 
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}